<!doctype html>
<html>

<head>
</head>

<body>
    <script>
        var check_count = 0;
        function handleClick(cb) {
            if (cb.checked) {
                check_count++;
            } else {
                check_count--;
            }
            var group_button = document.getElementById('group-button')
            group_button.disabled = (check_count < 1)
        }
    </script>
    
    <h1 class="title">{{ content.title }}</h1>
    <form action="" method="post" name="group-list">
        {% if content.names and content.names|length > 0 %}
        <table>
            {% for name in content.names %}
            <tr>
                <td>
                    <label>
                        <input type="checkbox" name="names" value="{{ name }}" onclick="handleClick(this);" />
                        {{ name }}
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div>
            <div>
                <button disabled=true id="group-button">{{ content.buy_button_text }}</button>
            </div>
        </div>
    </form>

    <h2>{{ content.historic_title }}</h2>
    {% if content.historic_groupings %}
    <ul>
        {% for grouping in content.historic_groupings %}
        <li>
            {{ grouping }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>